/* GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #f3f6fb;
  color: #1f2937;
}

/* NAVBAR */

.navbar {
  background: #ffffff;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-weight: 700;
  font-size: 20px;
  color: #2563eb;
}

.nav-links {
  display: flex;
  gap: 30px;
  font-weight: 500;
}

.nav-links a {
  text-decoration: none;
  color: #374151;
}

.nav-links a.active {
  color: #2563eb;
  font-weight: 600;
}

.nav-icons {
  display: flex;
  gap: 15px;
}

/* CONTAINER */

.container {
  padding: 50px 80px;
}

h1 {
  font-size: 38px;
  margin-bottom: 10px;
}

.subtitle {
  color: #6b7280;
  margin-bottom: 40px;
}

/* GRID */

.grid-layout {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}

/* CARD */

.card {
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
}

/* UPLOAD BOX */

.upload-box {
  border: 2px dashed #93c5fd;
  border-radius: 14px;
  padding: 50px;
  text-align: center;
  background: #f8fbff;
  cursor: pointer;
}

.upload-box:hover {
  background: #eef5ff;
}

.upload-box button {
  margin-top: 20px;
  background: #2563eb;
  border: none;
  padding: 12px 25px;
  border-radius: 8px;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* INPUTS */

input, select {
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
}

.form-row {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

/* RIGHT PANEL */

.security-item {
  margin-bottom: 15px;
  font-size: 14px;
}

.notice {
  margin-top: 20px;
  padding: 15px;
  background: #f3f4f6;
  border-radius: 10px;
  font-size: 13px;
}

/* BUTTON */

.primary-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}

.primary-btn:hover {
  background: #1e40af;
}

/* STATS */

.stats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 40px;
}

.stat-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
}

.stat-card h2 {
  font-size: 28px;
  color: #2563eb;
}